body{
    background-color: #c0c5b8;
}
.container{
    box-shadow: -2px 2px #bcb8b8;
    width:450px;
   margin: 0 auto;
}

.img{
    margin-top: 5px;
    margin-left: 5px;
    
}
a{
    margin: 22px 0px 0px 5px;
}
form{
    margin-left: 5px;
}
#submit{
    margin-top: 20px;
    margin-bottom: 3px;
}